<!DOCTYPE html>
<html lang="uz">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Universitetga Ariza Topshirish</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.min.js"></script>
     <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600&family=Nunito:wght@600;700;800&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">
    {% load static %}
    <link rel="stylesheet" href="{% static 'lib/owlcarousel/assets/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'lib/animate/animate.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <!-- Libraries Stylesheet -->
    <!-- Template Stylesheet -->
    <link href="{% static 'css/main.css' %}" rel="stylesheet">
</head>
<body>

     <nav class="navbar navbar-expand-lg bg-white navbar-light shadow sticky-top p-0">
            <a href="{% url 'index' %}" class="navbar-brand d-flex align-items-center px-4 px-lg-5">
                <h2 class="m-0 text-primary"><i class="fa fa-book me-3"></i>TARTI</h2>
            </a>
            <button type="button" class="navbar-toggler me-4" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <div class="navbar-nav ms-auto p-4 p-lg-0">
                   <a href="{% url 'index' %}" class="nav-item nav-link active">Bosh sahifa </a>
                   <a href="{% url 'succes' %}" class="nav-item nav-link">Biz haqimizda</a>
                    <a href="" class="nav-item nav-link">Ta'lim</a>
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Fanlar</a>
                        <div class="dropdown-menu fade-down m-0">
                            <a href="team.html" class="dropdown-item">Python </a>
                            <a href="testimonial.html" class="dropdown-item">Java</a>
                            <a href="404.html" class="dropdown-item">PHP</a>
                        </div>
                    </div>
                    <a href="contact.html" class="nav-item nav-link">Contact</a>
                </div>
            </div>
            <ul class="d-flex align-items-center">
                <li class="nav-item dropdown pe-3">
                    <a class="nav-link nav-profile d-flex align-items-center pe-0" href="{% url 'profile' %}" data-bs-toggle="dropdown">
                        <img src="{% static 'images/avataaars.png' %}" style="width: 50px; height: 50px; border-radius: 50%;" alt="Profil Iconi">
                        <span class="d-none d-md-block dropdown-toggle ps-2">Kevin Anderson</span>
                    </a>
<!-- End Profile Image Icon -->
                    <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
  <!-- Profile Header -->
                        <li class="dropdown-header text-center">
                            <h6>Kevin Anderson</h6>
                            <span>Web Designer</span>
                        </li>
                        <li><hr class="dropdown-divider"></li>
  <!-- My Profile -->
                        <li><a class="dropdown-item d-flex align-items-center" href="{% url 'profile' %}"><i class="bi bi-person me-2"></i>
                          <span>My Profile</span></a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item d-flex align-items-center" href="{% url 'profile_edit' %}"><i class="bi bi-gear me-2"></i>
                          <span>Account Settings</span></a>
                        </li>
                        <li>
                      <hr class="dropdown-divider"></li>
                  <li>
                      <a class="dropdown-item d-flex align-items-center" href="{% url 'login' %}">
                          <i class="bi bi-question-circle me-2"></i>
                          <span>Need Help?</span>
                      </a></li>
                  <li>
                      <hr class="dropdown-divider">
                  </li>
                  <li>
                      <a class="dropdown-item d-flex align-items-center" href="#">
                          <i class="bi bi-box-arrow-right me-2"></i>
                          <span>Sign Out</span>
                      </a>
                  </li>
                    </ul>
                </li>
            </ul>
     </nav>

     <div class="container-fluid p-0 mb-5">
        <h2 class="text-center">Bizning Universitetga Ariza Topshirish</h2>
        <p class="lead text-center">Bizning universitetimiz yuqori ilmiy darajaga ega bo'lgan ta'lim muassasasi bo'lib, xalqaro miqyosda tan olingan. Bizning o'quv dasturlarimiz yuqori sifatli va zamonaviy talablarga mos bo'lib, talabalarga ilmiy izlanishlar olib borish, amaliyotlar o'tkazish va o'z sohalarida yetakchi bo'lish imkoniyatlarini taqdim etadi.</p>
        <p class="text-center">Quyidagi formani to'ldirib, siz ham universitetimizga kirishga bir qadam yaqinlashingiz mumkin.</p>
        <form action="/add_score/" method="POST" enctype="multipart/form-data">
            <div class="form-group">
                <label for="citizenship">Fuqarolik:</label>
                <input type="text" class="form-control" id="citizenship" name="citizenship" placeholder="Masalan: O'zbekiston" required>
            </div>

            <div class="form-group">
                <label for="educationLevel">Ta'lim darajasi:</label>
                <select class="form-control" id="educationLevel" name="educationLevel" onchange="toggleEducationFields()" required>
                    <option value="">Tanlang...</option>
                    <option value="Oliy ta'lim">Oliy ta'lim</option>
                    <option value="O'rta ta'lim">O'rta ta'lim</option>
                </select>
            </div>
            <!-- Oliy ta'lim uchun savollar -->
            <div id="higherEducation" style="display: none;">
                <div class="form-group">
                    <label for="university">Qaysi oliy o'quv yurti?</label>
                    <input type="text" class="form-control" id="university" name="university" placeholder="Oliy o'quv yurti nomi" required>
                </div>
                <div class="form-group">
                    <label for="course_year">Nechinchi kurs talabasisiz?</label>
                    <input type="number" class="form-control" id="course_year" name="course_year" placeholder="1-kurs, 2-kurs" required>
                </div>
            </div>
            <!-- O'rta ta'lim uchun savollar -->
            <div id="secondarySchool" style="display: none;">
                <div class="form-group">
                    <label for="school_name">Qaysi maktabda o'qigansiz?</label>
                    <input type="text" class="form-control" id="school_name" name="school_name" placeholder="Maktab nomi" required>
                </div>
            </div>
            <div class="form-group">
                <label for="achievements">Ilmiy yoki ijtimoiy yutuqlaringiz:</label>
                <textarea class="form-control" id="achievements" name="achievements" rows="3" placeholder="Maqolalar, sertifikatlar yoki yutuqlar haqida yozing" required></textarea>
            </div>
            <div class="form-group">
                <label for="languages">Qaysi tillarni bilasiz?</label>
                <input type="text" class="form-control" id="languages" name="languages" placeholder="Masalan: Ingliz tili (C1), Rus tili (B2)" required>
            </div>
            <div class="form-group">
                <label for="international_tests">Qanday xalqaro testlar topshirgansiz?</label>
                <input type="text" class="form-control" id="international_tests" name="international_tests" placeholder="Masalan: TOEFL, IELTS, SAT, GRE" required>
                <input type="file" class="form-control-file" id="additional_documents" name="additional_documents" accept=".pdf,.doc,.jpg,.png" required>
            </div>
             {% csrf_token %}
            <button type="submit" class="btn btn-primary btn-block">Ariza Topshirish</button>
            <p id="formStatusMessage" class="hidden"></p>
        </form>
     </div>
    <footer class="text-center mt-5">
        <p>Bizning universitetga kirish uchun eng yaxshi imkoniyatlarni taklif etamiz.</p>
         <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
         <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>

         <script src="{% static 'lib/wow/wow.min.js' %}"></script>
         <script src="{% static 'lib/easing/easing.min.js' %}"></script>
         <script src="{% static 'lib/waypoints/waypoints.min.js' %}"></script>
         <script src="{% static 'lib/owlcarousel/owl.carousel.min.js' %}"></script>

         <script src="{% static 'js/add_editor.js' %}"></script>

    </footer>
</body>
</html>
